.object__main
  display flex

  .tablet &
    flex-direction: column
    width 69rem
    margin 0 auto
    padding-top 4.4rem

  .mobile &
    flex-direction: column
    width 51rem
    margin 0 auto
    padding-top 5rem