// Core
@import "../../node_modules/normalize.css/normalize.css";
@import "core/variables.styl";
@import "core/mixins.styl";
@import "core/fonts.styl";

// Sprites
@import "sprites/svg-sprite.styl";
@import "sprites/png-sprite.styl";

// Libs
@import "../../node_modules/swiper/dist/css/swiper.css";

// Commons modules
@import "common/reset.styl";
@import "common/base.styl";
@import "common/common.styl";
@import "common/header.styl";
@import "common/footer.styl";

// Globals
@import "common/global.styl";
@import "common/atom.styl";

// Pages
@import "pages/object.styl";


// Blocks
@import "blocks/object--baner.styl";
@import "blocks/object--aside.styl";
@import "blocks/object--content.styl";
@import "blocks/object--feed.styl";

// Elements
@import "elements/dropdown.styl";
@import "elements/faq.styl";
@import "elements/phone-icon.styl";

// Utility classes
@import "core/utilities.styl"; // Has to be last to override when necessary