.object--aside
  .object--aside--nav
    a.object--aside--nav--item(href="./") Документы
    a.object--aside--nav--item(href="./") План
    a.object--aside--nav--item(href="./") Оплата
    a.object--aside--nav--item(href="./") Стадии
    a.object--aside--nav--item(href="./") Online
    a.object--aside--nav--item(href="./") Инструкция
    .object--aside--input__wrapper
      input(type="text" placeholder="Уведомления").object--aside--input
      .count 6
  .object--aside--address
    .object--aside--address__heading Адрес 123
    a(href="./").object--aside--address--link
      |Адрес 123
      span.object--aside--address--arrow Перейти
        i.fas.fa-chevron-right
  .object--aside--address
    .object--aside--address__heading Адрес 123
    a(href="./").object--aside--address--link
      |Адрес 123
      span.object--aside--address--arrow Перейти
        i.fas.fa-chevron-right