.object
  img.object--img(src="templates/build/images/base/layer.jpg", alt="layer")
  .object--description
    .object--description--heading
      .object--description--heading__small Адрес 123
    .object--description--heading
      .object--description--heading__big Объект №51