.object--feed
  .object--feed--wrapper
    .object--feed--item
      .date.date__small.date__no-bg 14/07
        a(href="./").tag.tag__actions акция
      p.object--feed--item--description Гелиоцентрическое расстояние, как принято считать, продольно перечеркивает липарит.

    .object--feed--item
      .date.date__small.date__no-bg 14/07
        a(href="./").tag.tag__new акция
      p.object--feed--item--description Гелиоцентрическое расстояние, как принято считать, продольно перечеркивает липарит.
  
    .object--feed--item
      .date.date__small.date__no-bg 14/07
        a(href="./").tag.tag__new Новость
      p.object--feed--item--description Гелиоцентрическое расстояние, как принято считать, продольно перечеркивает липарит.
  
    .object--feed--item
      .date.date__small.date__no-bg 14/07
        a(href="./").tag.tag__new акция
      p.object--feed--item--description Гелиоцентрическое расстояние, как принято считать, продольно перечеркивает липарит.
