// Здесь используется миксины для шрифтов
// webfont([FontFamily name], [File\Folder name], [font-weight = 400], [font-style = normal])

@import 'variables.styl'
@import 'mixins.styl'

webfont('Vida31Pro', 'Vida31Pro')
webfont('Vida33Pro', 'Vida33Pro')