// Paths
$pathToImg = "../../build/images/"
$pathToDevImg = "../../src/images/"
$pathToFonts = "../../src/fonts/"

// Fonts
$reserveFonts = sans-serif;
$fontPrimary = 'Vida31Pro', $reserveFonts;
$vida33 = 'Vida33Pro', $reserveFonts;


// Colors
$purple = #893b67
$border = #ddddde
$darkborder = #edeeee
$text = #565f66
$black = #000000
$gray = #777b80
$darkgray =  #414141
$gray-bg = #fcfcfc
$darkgray-bg = #53565a
$extragreen = #c5e71b


//options
fast = .2s ease-in-out all
slow = .5s ease-in-out all