.object--aside
  width 27rem
  padding-right 4.5rem
  box-sizing: content-box
  display flex
  flex-direction column
  border-right .1rem solid #f4f4f4
  
  .tablet &,
  .mobile &
    width 100%
    padding-right 0
    box-sizing: border-box
    border-right 0
    display flex
    flex-direction: row
    justify-content space-between
    flex-wrap: wrap
    padding-bottom 8rem

  &--nav
    display flex
    flex-direction column
    padding-bottom 2rem

    .tablet &,
    .mobile &
      width 100%
      padding-bottom 3rem

    &--item
      color $purple
      margin-bottom 3.2rem
      transition fast
      &:hover
        text-shadow 0 0 .1rem $purple

      .tablet &,
      .mobile &
        display none

  &--input
    height 4rem
    border-radius 4rem
    border .1rem solid $border
    padding-left 2.1rem
    width 100%
    &__wrapper
      position relative
      top -0.6rem

      .count
        width 2rem
        height 2rem
        top -0.5rem
        font-family $vida33
        font-size 1.3rem
        cursor pointer

  &--address
    padding 3.2rem 0
    border-top .1rem solid #f1f1f1

    &:nth-child(2)
      .tablet &,
      .mobile &
        border-right .1rem solid #f1f1f1
        padding-right 4rem

    &:nth-child(3)
      .tablet &,
      .mobile &
        padding-left 4rem
    
    .tablet &
      width 34.5rem
      border-top 0

    .mobile &
      width 25.5rem
      border-top 0

    &__heading
      color $purple
      font-size 2.4rem
      font-family $vida33
    
    &--link
      line-height 2.1
      display flex
      justify-content space-between
      align-items center
      width 100%
    
    &--arrow
      font-family $vida33
      font-size 1.4rem
      color $purple
      i
        margin-left .9rem
        border: .2rem solid $purple
        border-radius: 50%
        padding 0.5rem
        display inline-flex
        justify-content center
        align-items center
        width 2rem
        height 2rem
        padding-left 0.6rem
        font-size: 1.1rem
