.object--content
  width 91.8rem
  padding-left 4.4rem
  flex-shrink: 0
  padding-bottom 4.6rem
  .tablet &,
  .mobile &
    padding-left 0
    width 100%
    padding-bottom 0

    .faq__heading,
    .answer
      max-width 58.2rem

  &--heading
    color: $darkgray
    font-family $vida33
    font-size: 3.6rem
    line-height .6

    .mobile &
      font-size: 3.4rem

  .accordeon 
    margin-top 4.7rem

.date
  background $darkborder
  padding 0.3rem
  font-size 1.6rem
  color #000000
  display inline-block
  line-height 1
  font-weight 600