.object--feed
  width 100%
  background $darkborder
  margin-top 8rem

  .tablet &,
  .mobile &
    margin-top 6rem

    .tag
      position relative
      top -0.8rem

  &--wrapper
    display flex
    max-width 117rem
    margin 0 auto
    justify-content space-between
    padding: 3rem 0 5rem

    .tablet &
      margin-left 7rem
      max-width 69rem

    .mobile &
      max-width 51rem
      position relative
      flex-wrap: wrap
      justify-content center
      padding: 3rem 0 1.9rem
      

  &--item
    width 22.1rem

    .tablet &
      width 27rem
      margin-right 3rem

    &--description
      font-size: 1.4rem
      line-height 1.8rem

      .mobile &
        font-size 2.2rem
        margin-top 0
        line-height 3rem